{% extends "users/base.html" %}
{% load static %}


{% block title %} Heat Diffusion {{ job_name }} Output {% endblock title%}



{% block content %}

    <div class="jumbotron">

        <h1 class="display-4">Heat Diffusion Output</h1>

        <br>

        <h6>Job name           : {{ job_name }}</h6>
        <h6>Nodes              : {{ nodes }}</h6>
        <h6>Tasks per node     : {{ ntasks_per_node }}</h6>
        <h6>Grid size          : {{ grid_size }}</h6>
        <h6>Source temperature : {{ source_temp }} &#x2103;</h6>
        <h6>Sink temperature   : {{ sink_temp }} &#x2103;</h6>
        <h6>Tolerance          : {{ tolerance }}</h6>
        <h6>Computation time   : {{ comp_time }}</h6>

        <br>

        <input type="hidden" id="myVar" name="myVar" value="{{ hd_out }}">

        <img id="output" src="" style="width:500px; height:700px;" alt="Heat Diffusion Output">
        

        <script type="text/javascript">

            var hd_out = document.getElementById("myVar").value;
            var output_elem = document.getElementById("output");

            const out_src_list = [
                "{% static 'anim/heat_diffusion/1/hd_visual_final.png' %}",
                "{% static 'anim/heat_diffusion/2/hd_visual_final.png' %}",
                "{% static 'anim/heat_diffusion/3/hd_visual_final.png' %}",
                "{% static 'anim/heat_diffusion/4/hd_visual_final.png' %}",
                "{% static 'anim/heat_diffusion/5/hd_visual_final.png' %}",
                "{% static 'anim/heat_diffusion/6/hd_visual_final.png' %}",
                "{% static 'anim/heat_diffusion/7/hd_visual_final.png' %}",
                "{% static 'anim/heat_diffusion/8/hd_visual_final.png' %}",
                "{% static 'anim/heat_diffusion/9/hd_visual_final.png' %}",
                "{% static 'anim/heat_diffusion/10/hd_visual_final.png' %}",
                "{% static 'anim/heat_diffusion/11/hd_visual_final.png' %}",
                "{% static 'anim/heat_diffusion/12/hd_visual_final.png' %}",
                "{% static 'anim/heat_diffusion/13/hd_visual_final.png' %}",
                "{% static 'anim/heat_diffusion/14/hd_visual_final.png' %}",
                "{% static 'anim/heat_diffusion/15/hd_visual_final.png' %}",
                "{% static 'anim/heat_diffusion/16/hd_visual_final.png' %}",
                "{% static 'anim/heat_diffusion/17/hd_visual_final.png' %}",
                "{% static 'anim/heat_diffusion/18/hd_visual_final.png' %}",
                "{% static 'anim/heat_diffusion/19/hd_visual_final.png' %}",
                "{% static 'anim/heat_diffusion/20/hd_visual_final.png' %}",
            ];

            output_elem.src = out_src_list[ hd_out-1 ];

        </script>

    </div>

{% endblock content %}