{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome To Pradyut Cluster</h1>
        <p class="lead">
            
        </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <a href="{% url 'pi_estimate' %}" class="nav-item nav-link" target="_blank">Pi Estimate</a>
                <a href="{% url 'heat_diffusion' %}" class="nav-item nav-link" target="_blank">Heat Diffusion</a>
                <a href="{% url 'lorentz_force_output' %}" class="nav-item nav-link" target="_blank">Lorentz Force</a>

                <br>

                <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
            {% endif %}
        </p>
    </div>

{% endblock content %}