{% extends "users/base.html" %}
{% load static %}


{% block title %} Pi Estimate {{ job_name }} Output {% endblock title%}



{% block content %}

    <div class="jumbotron">

        <h1 class="display-4">Pi Estimate Output</h1>

        <br>

        <h6>Job name       : {{ job_name }}</h6>
        <h6>Nodes          : {{ nodes }}</h6>
        <h6>Tasks per node : {{ ntasks_per_node }}</h6>
        <h6>No. of points  : {{ num_points }} = 2<sup>{{ num_points_pow_2 }}</sup></h6>
        <h6>Computation time  : {{ comp_time }}</h6>

        <br>

        <input type="hidden" id="myVar" name="myVar" value="{{ pe_out }}">


        <img id="output" src="" style="width:1000px; height:450px;" alt="Pi Estimate Output">


        <script type="text/javascript">

            var pe_out = document.getElementById("myVar").value;
            var output_elem = document.getElementById("output");

            const out_src_list = [
                "{% static 'anim/pi_estimate/1/pe_visual_final.png' %}",
                "{% static 'anim/pi_estimate/2/pe_visual_final.png' %}",
                "{% static 'anim/pi_estimate/3/pe_visual_final.png' %}",
                "{% static 'anim/pi_estimate/4/pe_visual_final.png' %}",
                "{% static 'anim/pi_estimate/5/pe_visual_final.png' %}",
                "{% static 'anim/pi_estimate/6/pe_visual_final.png' %}",
                "{% static 'anim/pi_estimate/7/pe_visual_final.png' %}",
                "{% static 'anim/pi_estimate/8/pe_visual_final.png' %}",
                "{% static 'anim/pi_estimate/9/pe_visual_final.png' %}",
                "{% static 'anim/pi_estimate/10/pe_visual_final.png' %}",
                "{% static 'anim/pi_estimate/11/pe_visual_final.png' %}",
                "{% static 'anim/pi_estimate/12/pe_visual_final.png' %}",
                "{% static 'anim/pi_estimate/13/pe_visual_final.png' %}",
                "{% static 'anim/pi_estimate/14/pe_visual_final.png' %}",
                "{% static 'anim/pi_estimate/15/pe_visual_final.png' %}",
                "{% static 'anim/pi_estimate/16/pe_visual_final.png' %}",
                "{% static 'anim/pi_estimate/17/pe_visual_final.png' %}",
                "{% static 'anim/pi_estimate/18/pe_visual_final.png' %}",
                "{% static 'anim/pi_estimate/19/pe_visual_final.png' %}",
                "{% static 'anim/pi_estimate/20/pe_visual_final.png' %}"
            ];

            output_elem.src = out_src_list[ pe_out-1 ];

        </script>

    </div>

{% endblock content %}